.park {
    min-height: 1600px;
    padding: 100px 0 175px 0;
    &__wrap {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    }
    &__marc {
        background: #FFFFFF;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        height: 700px;
    }
    &__brand {
        width: 385px;
        height: 140px;
        font-weight: 600;
        font-size: 35px;
        line-height: 48px;
        letter-spacing: 0.05em;
        color: #000000;
        display: flex;
        align-items: center;
        padding-left: 24px;
        cursor: pointer;
        &-notap {
            width: 385px;
            height: 140px;
            font-weight: 600;
            font-size: 35px;
            line-height: 48px;
            letter-spacing: 0.05em;
            color: #000000;
            display: flex;
            align-items: center;
            padding-left: 24px;
        }
        &_active {
            background: linear-gradient(180deg, #2C89DE 0%, #0B2566 100%);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
            color: #FFFFFF;
        }
        &_no-cursor {
            cursor: auto;
        }
    }
    &__descr {
        margin-left: 20px;
    }
    &__cars {
        padding-left: 34px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        width: 805px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 15px;
        margin-bottom: 15px;
        &:nth-child(3) {
            margin-bottom: 90px;
        }
    }
    &__header {
        margin-top: 30px;
        font-family: 'El Messiri';
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
    }
    &__year {
        font-family: 'El Messiri';
        font-weight: 700;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        margin-top: 6px;
    }
    &__price {
        display: flex;
        align-items: center;
        margin-top: 35.5px;
    }
    &__count {
        font-weight: 300;
        font-size: 35px;
        line-height: 48px;
        letter-spacing: 0.05em;
        color: #000000;
        span {
            font-weight: 600;
        }
    }
    &__stick {
        font-weight: 300;
        font-size: 35px;
    }
    &__day {
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #000000;
        display: flex;
        align-items: center;
    }
}


.mySwiper{
    position: relative;
    &__nav {
        width: 140px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 50;
    }
    .swiper-button-next {
        width: 8px;
        height: 30px;
    }
    .swiper-button-prev {
        width: 8px;
        height: 30px;
        z-index: 51;
    }
    .swiper-pagination {
        &-bullet {
            margin-left: 25px;
        }
        span {
            width: 13px;
            height: 13px;
            background: linear-gradient(180deg, rgba(44, 137, 222, 0.2) 0%, rgba(11, 37, 102, 0.2) 100%);
        }
        span.swiper-pagination-bullet-active {
            position: relative;
            width: 16.29px;
            height: 15.91px;
            background: linear-gradient(180deg, #2C89DE 0%, #0B2566 100%);
            &::before {
                content: url(../icon/park/circle.svg);
                position: absolute;
                top: -7px;
                left: -7.5px;
            }
        }
    }
}

// .swiper-pagination-horizontal.swiper-pagination.swiper-pagination-bullets {

// }

.swiper-horizontal {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        .swiper-pagination-bullet {
            margin-left: 25px;
            &:nth-child(2){
                margin-right: 25px;
            }
        }
    }
}


.hide {
    display: none;
}

.show {
    display: block;
}





